<!DOCTYPE html>
<html lang="en">
<head>
    <base href="{{app.request.getSchemeAndHttpHost()}}" target="_blank">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('img/ico.png') }}"/>
    <link rel="stylesheet" href="{{ absolute_url(asset('css/app.css')) }}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons"/>
    <link rel="stylesheet" href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css"/><link rel="icon" type="image/png" href="/img/ico.png"/>

</head>

<body class="app-js light">

{#<nav class="navbar navbar-fixed-top navbar-toggleable-md navbar-inverse bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ path('root') }}">Blogmvc</a>
    <ul class="nav navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('root') }}">Blog</a>
        </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('admin_post_index') }}">backend</a>
        </li>
    </ul>
</nav>#}


    {% for type, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ type }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block body %}{% endblock %}
<!-- /.container -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="{{ asset('js/jquery.easeScroll.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script><script src="https://kenwheeler.github.io/slick/slick/slick.js"></script>
<!-- Filter Category-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
<!--Item GridItemAnimation-->
<script src="{{ asset('js/libs/AnimationItems/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ asset('js/libs/AnimationItems/anime.min.js') }}"></script>
<script src="{{ asset('js/libs/AnimationItems/main.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/libs/reveal/reveal.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/libs/reveal/scrollMonitor.js') }}"></script>
<script src="{{ asset('js/filter.js') }}"> </script>
<script src="{{ asset('js/app.js') }}"></script>
<!--script(type="text/javascript" src="js/SmoothScroll.js")-->
<script src="{{ asset('js/sliderHeader.js') }}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script type="text/javascript">new WOW().init();</script>
{% block javascripts %}{% endblock %}
</body>
</html>
