{% extends 'base.html.twig' %}
  {% block title %}
      Punto Data Chile | Agencia Digital
  {% endblock %}
{% block body %}
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

  <div class="menuReveal">
    <div class="menumobile-decoration">
      <div class="content-planet">
        {#<div class="planet"></div>
        <div class="planet2"></div>
        <div class="planet3"></div>#}
      </div>
    </div>
    <div class="menu--nav--mobile">
      <svg class="ham hamRotate ham1 active" viewBox="0 0 100 100" width="80" onclick="this.classList.toggle('actives')">
        <path class="line top" d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40"></path>
        <path class="line middle" d="m 30,50 h 40"></path>
        <path class="line bottom" d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40"></path>
      </svg>
      <div class="content-sphere">
        <div class="ball-01"></div>
        <div class="ball-02"></div>
        <div class="ball-03"></div>
        <div class="ball-04"></div>
        <div class="ball-05"></div>
      </div>
    </div>
    <div class="content-menu">
      <ul>
        <li><a href="#">Inicio </a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">El Team</a></li>
        <li><a href="#">Portafolio </a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Acerca de</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>
    <div class="block__1"></div>
    <div class="block__2"></div>
  </div>
  <div class="splashScreen" style="display:none">
    <div class="content-splash">
      <div class="absolute-img">
        <div class="content-img"><img alt="alt" src="{{ asset('img/LogoSVG.svg') }}"></div>
      </div>
      <div class="left-splashScreen"></div>
      <div class="right-splashScreen"></div>
    </div>
  </div>
  <header id="area">
    <nav class="primary--nav">
      <div class="container">
        <div class="d-flex">
          <div class="logo"><img src="{{ asset('img/LogoSVG.svg') }}" alt="alt"/></div>
          <ul class="nav--items">
            <li class="active"><a class="link--item" href="#inicio">Inicio</a></li>
            <li><a class="link--item" href="#servicio">Servicios</a></li>
            <li><a class="link--item" href="#team">El Team</a></li>
            <li><a class="link--item" href="#galery">Portafolio</a></li>
            <li><a class="link--item" href="">Blog</a></li>
            <li><a class="link--item" href="#contacto">Acerca de </a></li>
          </ul>
          <div class="menu--nav--mobile">
            <svg class="ham hamRotate ham1" viewBox="0 0 100 100" width="80" onclick="this.classList.toggle('actives')">
              <path class="line top" d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40"></path>
              <path class="line middle" d="m 30,50 h 40"></path>
              <path class="line bottom" d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40"></path>
            </svg>
          </div>
        </div>
      </div>
    </nav>
    <div class="container" style="position:relative">
      <div class="content-container">
        <div class="content--decoration container">
          <div class="rounder-ball" id="box0"></div>
          <div class="rounder-ball-1" id="box1"></div>
        </div>
        <div class="content--decoration" style="display:none">
          <div class="content--svg" style="background-image: url({{ asset('img/main1.jpg') }})">
            <div class="svg--box"></div>
            <div class="svg--box2"></div>
            <div class="svg--box3"></div>
            <div class="box--header"></div>
            <div class="box--header2"></div>
            <div class="box--header3"></div>
            <div class="box--header4"></div>
          </div>
        </div>
        <div class="slider-wrapper" id="inicio">
          <div class="slider" z-index:300="z-index:300">
            <div class="slider--item dinamy-cel">
              <div class="content-slider">
                <div class="content-text-slider" style="line-height: 1.3;">
                  <div class="text-loading-mask-header">
                    <div class="text-loading-overlay is-reveal delay-1" id="reveal"></div>
                    <div class="text-loading-overlay-1 is-reveal-1 delay-2" id="reveal-1"></div>
                    <h2 class="delay-2">Tu tienda debe</h2>
                  </div>
                  <div class="text-loading-mask-header">
                    <div class="text-loading-overlay is-reveal delay-3" id="reveal"></div>
                    <div class="text-loading-overlay-1 is-reveal-1 delay-4" id="reveal-1"></div>
                    <h2 class="no-m-b delay-4">estar en las redes</h2>
                  </div>
                  <div class="text-loading-mask-header">
                    <div class="line--title-mask">
                      <div class="line-mask-title delay-5"></div>
                    </div>
                  </div>
                  <div class="text-loading-mask-header">
                    <div class="text-loading-overlay is-reveal delay-6" id="reveal"></div>
                    <div class="text-loading-overlay-1 is-reveal-1 delay-7" id="reveal-1"></div>
                    <h5 class="delay-8" style="    letter-spacing: 1.5;">Si quieres hacerte notar, un Community debes contratar</h5>
                  </div>
                  <div class="content-btn"><a class="smooth btn btn-puntodata-fill" href="#contacto">Contactanos</a><a class="smooth btn btn-puntodata" href="#galery">Portafolio</a></div>
                </div>
                <div class="content-img-Slider">
                  <!--img(src="img/main2.png", alt="alt")-->
                </div>
              </div>
            </div>
            <div class="slider--item">
              <div class="content-slider">
                <div class="content-img-Slider-left m-r-25"><img src="{{ asset('img/Banner2.png') }}" alt="alt"/></div>
                <div class="content-text-slider" style="line-height: 1.3;">
                  <div class="text-loading-mask-header">
                    <div class="text-loading-overlay is-reveal delay-1" id="reveal"></div>
                    <div class="text-loading-overlay-1 is-reveal-1 delay-2" id="reveal-1"></div>
                    <h2 class="delay-2">Actualiza tu web</h2>
                  </div>
                  <div class="text-loading-mask-header">
                    <div class="text-loading-overlay is-reveal delay-3" id="reveal"></div>
                    <div class="text-loading-overlay-1 is-reveal-1 delay-4" id="reveal-1"></div>
                    <h2 class="no-m-b delay-4">por una de verdad</h2>
                  </div>
                  <div class="text-loading-mask-header">
                    <div class="line--title-mask">
                      <div class="line-mask-title delay-5"></div>
                    </div>
                  </div>
                  <div class="text-loading-mask-header">
                    <div class="text-loading-overlay is-reveal delay-6" id="reveal"></div>
                    <div class="text-loading-overlay-1 is-reveal-1 delay-7" id="reveal-1"></div>
                    <h5 class="delay-8" style="    letter-spacing: 1.5;">Tu web habla mucho de tu empresa o negocio, ¡Es hora de innovar!</h5>
                  </div>
                </div>
              </div>
            </div>
          </div><button type="button" data-role="none" class="slick-prev slick-arrow box2" aria-label="Previous" role="button" style="" id="box2">Previous</button>
   <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="" id="box3">Next</button>
        </div>
      </div>
      <div class="slider-sub-contentEl-1"><img src="{{ asset('img/main2.png') }}" alt="alt"/></div>
    </div>
    <div class="slider-svg" style="z-index:200;background: url('{{asset('img/base.svg')}}');background-position:center;background-size:cover;height:100%;"> </div>
    <section class="whatdo wow init_transition">
      <div class="container">
        <div class="row">
          <div class="col-md-12 m-b-70 d-flex justify-content-center flex-column align-items-center">
            <div class="text-loading-mask">
              <div class="text-loading-overlay is-reveal h2-text-mask" id="reveal"></div>
              <div class="text-loading-overlay-1 is-reveal-1 h2-text-mask" id="reveal-1"></div>
              <h2 class="main-title has-text-centered" itemprop="author">Nuestros servicios</h2>
            </div>
            <div class="d-flex" style="   margin-bottom: 1.25rem;"></div>
            <div class="text-loading-mask">
              <div class="text-loading-overlay is-reveal h4-text-mask" id="reveal"></div>
              <div class="text-loading-overlay-1 is-reveal-1 h4-text-mask" id="reveal-1"></div>
              <h4 class="has-text-centered f-4">Son muchos las cosas que podemos hacer</h4>
            </div>
            <div class="d-flex justify-content-center" style="    margin-top: 1rem;">
              <div class="line__mask">
                <div class="line_mask"></div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="servicios">
              <div class="content-img"><img src="{{ asset('img/icono/puesta-en-marcha.png') }}" alt="alt"/></div>
              <h2>Creamos a  <br> toda velocidad</h2>
              <h4>Como una misión de la NASA, nos sentamos en la butaca del piloto y hacemos lo mejor para optimizar el tiempo y calidad del desarrollo de tu ideas.</h4>
            </div>
          </div>
          <div class="col-md-3">
            <div class="servicios">
              <div class="content-img"><img src="{{ asset('img/icono/charlar.png') }}" alt="alt"/></div>
              <h2>Tus ideas y <br> proyectos</h2>
              <h4>Los ponemos sobre la mesa, conocemos tus servicios y estudiamos el mercado para hacer de tu proyecto el más adecuado y adaptado a las nuevas tendencias.</h4>
            </div>
          </div>
          <div class="col-md-3">
            <div class="servicios">
              <div class="content-img"><img src="{{ asset('img/icono/moneda.png') }}" alt="alt"/></div>
              <h2>Nos adaptamos <br> a tu presupuesto</h2>
              <h4>¿No nos crees? Tenemos cientos de ideas para hacer que tu proyecto se vea como quieres invirtiendo lo justo y necesario.</h4>
            </div>
          </div>
          <div class="col-md-3">
            <div class="servicios">
              <div class="content-img"><img src="{{ asset('img/icono/sensible.png') }}" alt="alt"/></div>
              <h2>Ideas, todas <br> compatibles</h2>
              <h4>De seguro quieres que tus clientes puedan contratar tu servicios desde el PC, Tablet, Smartphone o desde cualquier lugar. Nosotros lo hacemos posible.</h4>
            </div>
          </div>
        </div>
      </div>
    </section>
  </header>
  <section class="services wow init_transition" id="servicio">
    <div class="container" style="word-break: break-all;">
      <div class="row">
        <div class="col-md-12 m-b-70 d-flex justify-content-center flex-column align-items-center">
          <div class="text-loading-mask">
            <div class="text-loading-overlay is-reveal h2-text-mask" id="reveal"></div>
            <div class="text-loading-overlay-1 is-reveal-1 h2-text-mask" id="reveal-1"></div>
            <h2 class="main-title has-text-centered" itemprop="author">Nuestros servicios</h2>
          </div>
          <div class="d-flex" style="   margin-bottom: 1.25rem;"></div>
          <div class="text-loading-mask">
            <div class="text-loading-overlay is-reveal h4-text-mask" id="reveal"></div>
            <div class="text-loading-overlay-1 is-reveal-1 h4-text-mask" id="reveal-1"></div>
            <h4 class="has-text-centered f-4">Son muchos las cosas que podemos hacer</h4>
          </div>
          <div class="d-flex justify-content-center" style="    margin-top: 1rem;">
            <div class="line__mask">
              <div class="line_mask"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row line-bottom">
        <div class="col-md-4">
          <div class="servicios">
            <div class="d-flex w100 justify-content-start services-content">
              <div class="content-img"><img src="{{ asset('img/icono/publi.png') }}" alt="alt"/></div>
              <div class="content-title d-flex flex-column">
                <h2 class="text-center-max">Marketing</h2>
                <h4>Una buena extrategia de Marketing es para tu negocio tan importante como el combustible para tu vehículo. Así que recarga full la el camino para tu empresa</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="servicios">
            <div class="d-flex w100 justify-content-start services-content">
              <div class="content-img"><img src="{{ asset('/img/icono/web.png')}}" alt="alt"/></div>
              <div class="content-title d-flex flex-column">
                <h2 class="text-center-max">Desarrollo Web</h2>
                <h4>Imaginas que tus clientes potenciales visiten tu Sitio Web y éste sea todo una obra de arte de Paint? Mejor usemos Photoshop e Illustrator</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="servicios">
            <div class="d-flex w100 justify-content-start services-content">
              <div class="content-img"><img src="{{ asset('/img/icono/paleta-de-pintura.png') }}" alt="alt"/></div>
              <div class="content-title d-flex flex-column">
                <h2 class="text-center-max">Diseño Gráfico</h2>
                <h4>Diseñamos en digital todo lo que imaginas y le damos un poco de vida a los proyectos que siempre quisiste tener</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="servicios">
            <div class="d-flex w100 justify-content-start services-content">
              <div class="content-img"><img src="{{ asset('/img/icono/carpeta.png') }}" alt="alt"/></div>
              <div class="content-title d-flex flex-column">
                <h2 class="text-center-max">Insumos y Oficinas</h2>
                <h4>El comercio electrónico también es lo nuestro. Todo lo necesario para tu oficina, ¡Lo tenemos!</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="servicios">
            <div class="d-flex w100 justify-content-start services-content">
              <div class="content-img"><img src="{{ asset('/img/icono/camara.png')}}" alt="alt"/></div>
              <div class="content-title d-flex flex-column">
                <h2 class="text-center-max">Fotografía Digital</h2>
                <h4>Nos compramos una Polaroid para hacernos unas fotos increíbles de tus proeyctos</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="servicios">
            <div class="d-flex w100 justify-content-start services-content">
              <div class="content-img"><img src="{{ asset('/img/icono/instrumentos.png') }}" alt="alt"/></div>
              <div class="content-title d-flex flex-column">
                <h2 class="text-center-max">Soporte Técnico</h2>
                <h4>Tenemos un equipo experto que se preocupa por dar soporte informático a tu empresa, entregando un servicio de primera y explicándotelo en un idioma fácil de entender</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="wow init_transition">
    <!-- .section__mask__left
    h2.main-title.has-text-centered Nuestros Punto´Team
    .button__mask
      .overlay__mask
        .sub__over__mask
        .text__overlay


    -->
  </section>
  <section class="ElTeam wow init_transition" id="team">
    <div class="container" style="word-break: break-all;">
      <div class="row">
        <div class="col-md-12 m-b-70 d-flex justify-content-center flex-column align-items-center">
          <div class="text-loading-mask">
            <div class="text-loading-overlay is-reveal h2-text-mask" id="reveal"></div>
            <div class="text-loading-overlay-1 is-reveal-1 h2-text-mask" id="reveal-1"></div>
            <h2 class="main-title has-text-centered" itemprop="author">Nuestros Punto´Team</h2>
          </div>
          <div class="d-flex" style="   margin-bottom: 1.25rem;"></div>
          <div class="text-loading-mask">
            <div class="text-loading-overlay is-reveal h4-text-mask" id="reveal"></div>
            <div class="text-loading-overlay-1 is-reveal-1 h4-text-mask" id="reveal-1"></div>
            <h4 class="has-text-centered f-4">Somos pocos, pero hacemos mucho</h4>
          </div>
          <div class="d-flex justify-content-center" style="    margin-top: 1rem;">
            <div class="line__mask">
              <div class="line_mask"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="theteam">
            <div class="img" style=" background: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1)), url({{ asset('img/t3.jpg')}});background-position: center;background-size: cover;background-repeat: no-repeat;">
              <!--img(src='img/t3.jpg' alt='')-->
              <div class="img--second"></div>
            </div>
            <div class="content-team">
              <h2>Rolando Hern&aacute;ndez</h2>
              <h5 class="m-b-5">CEO &amp; Director de Marketing</h5>
              <p>Ingeniero de Sistemas y Maquetador Web con 1000++ horas/noche dise&ntilde;ando, Fot&oacute;grafo y fan&aacute;tico del Marketing Digital</p>
            </div>
            <div class="footer-team">
              <div class="d-flex justify-content-center"><a class="d-flex align-items-center" href="https://www.instagram.com/rolandoshr" target="_blank"><img src="{{ asset('img/instagram.svg')}}" alt=""/></a><a class="d-flex align-items-center" href="https://www.facebook.com/rolandoshr" target="_blank"><img src="{{ asset('img/facebook.svg')}}" alt=""/></a><a class="d-flex align-items-center" href="https://cl.linkedin.com/in/rolandoshr" target="_blank"><img src="{{ asset('img/linkedin.svg') }}" alt=""/></a><a class="d-flex align-items-center" href=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40px" height="40px"><path fill="#fff" d="M5.5 1.5H34.5V38.5H5.5z"/><path fill="#4788c7" d="M34,2v36H6V2H34 M35,1H5v38h30V1L35,1z"/><path fill="none" stroke="#4788c7" stroke-linecap="round" stroke-miterlimit="10" d="M23.5 11.5L28.5 11.5M23.5 15.5L28.5 15.5M23.5 19.5L28.5 19.5M11.5 23.5L28.5 23.5M11.5 27.5L28.5 27.5M11.5 31.5L28.5 31.5"/><path fill="#98ccfd" d="M16 8A3 3 0 1 0 16 14 3 3 0 1 0 16 8zM16 15c-2.761 0-5 2.239-5 5h10C21 17.239 18.761 15 16 15z"/></svg></a></div>
              <div class="d-flex justify-content-center">
                <div class="line m-t-25 m-b-20" style="height: 3px;"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="theteam">
            <div class="img" style="  background: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1)), url({{ asset('img/t2.jpg')}});background-position: center;background-size: cover;background-repeat: no-repeat;">
              <!--img(src='img/t2.jpg' alt='')-->
              <div class="img--second"></div>
            </div>
            <div class="content-team">
              <h2>Omar Y&aacute;nez</h2>
              <h5 class="m-b-5">COO &amp; Director de Tecnolog&iacute;a</h5>
              <p>Ingeniero de Sistemas especialista en Soporte T&eacute;cnico empresarial y todo un experto en Comercio Electr&oacute;nico</p>
            </div>
            <div class="footer-team">
              <div class="d-flex justify-content-center"><a class="d-flex align-items-center" href="https://www.instagram.com/omaryanezve" target="_blank"><img src="{{ asset('img/instagram.svg')}}" alt=""/></a><a class="d-flex align-items-center" href="https://www.facebook.com/omar.yanez.940" target="_blank"><img src="{{ asset('img/facebook.svg') }}" alt=""/></a><a class="d-flex align-items-center" href=""><img src="{{ asset('img/linkedin.svg') }}" alt=""/></a><a class="d-flex align-items-center" href=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40px" height="40px"><path fill="#fff" d="M5.5 1.5H34.5V38.5H5.5z"/><path fill="#4788c7" d="M34,2v36H6V2H34 M35,1H5v38h30V1L35,1z"/><path fill="none" stroke="#4788c7" stroke-linecap="round" stroke-miterlimit="10" d="M23.5 11.5L28.5 11.5M23.5 15.5L28.5 15.5M23.5 19.5L28.5 19.5M11.5 23.5L28.5 23.5M11.5 27.5L28.5 27.5M11.5 31.5L28.5 31.5"/><path fill="#98ccfd" d="M16 8A3 3 0 1 0 16 14 3 3 0 1 0 16 8zM16 15c-2.761 0-5 2.239-5 5h10C21 17.239 18.761 15 16 15z"/></svg></a></div>
              <div class="d-flex justify-content-center">
                <div class="line m-t-25 m-b-20" style="height: 3px;"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="theteam">
            <div class="img" style="  background: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1)), url({{ asset('img/t4.jpeg')}});background-position: center;background-size: cover;background-repeat: no-repeat;">
              <!--img(src='img/t4.jpeg' alt='')-->
              <div class="img--second"></div>
            </div>
            <div class="content-team">
              <h2>Josbert Hern&aacute;ndez</h2>
              <h5 class="m-b-5">CIO &amp; Desarrollador Web</h5>
              <p>T&eacute;cnico Superior en Inform&aacute;tica y Front-end &amp; Back-end Developer, dedicado al UI y UX como todo un ninja</p>
            </div>
            <div class="footer-team">
              <div class="d-flex justify-content-center"><a class="d-flex align-items-center" href="#"><img src="{{ asset('img/instagram.svg')}}" alt=""/></a><a class="d-flex align-items-center" href="#"><img src="{{ asset('img/facebook.svg') }}" alt=""/></a><a class="d-flex align-items-center" href="#"><img src="{{ asset('img/linkedin.svg') }}" alt=""/></a><a class="d-flex align-items-center" href="http://jos.puntodata.cl/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40px" height="40px"><path fill="#fff" d="M5.5 1.5H34.5V38.5H5.5z"/><path fill="#4788c7" d="M34,2v36H6V2H34 M35,1H5v38h30V1L35,1z"/><path fill="none" stroke="#4788c7" stroke-linecap="round" stroke-miterlimit="10" d="M23.5 11.5L28.5 11.5M23.5 15.5L28.5 15.5M23.5 19.5L28.5 19.5M11.5 23.5L28.5 23.5M11.5 27.5L28.5 27.5M11.5 31.5L28.5 31.5"/><path fill="#98ccfd" d="M16 8A3 3 0 1 0 16 14 3 3 0 1 0 16 8zM16 15c-2.761 0-5 2.239-5 5h10C21 17.239 18.761 15 16 15z"/></svg></a></div>
              <div class="d-flex justify-content-center">
                <div class="line m-t-25 m-b-20" style="height: 3px;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="galery wow init_transition" id="galery">
    <div class="container" style="word-break: break-all;">
      <div class="row">
        <div class="col-md-12 m-b-70 d-flex justify-content-center flex-column align-items-center">
          <div class="text-loading-mask">
            <div class="text-loading-overlay is-reveal h2-text-mask" id="reveal"></div>
            <div class="text-loading-overlay-1 is-reveal-1 h2-text-mask" id="reveal-1"></div>
            <h2 class="main-title has-text-centered" itemprop="author">Lo que hemos hecho</h2>
          </div>
          <div class="d-flex" style="   margin-bottom: 1.25rem;"></div>
          <div class="text-loading-mask">
            <div class="text-loading-overlay is-reveal h4-text-mask" id="reveal"></div>
            <div class="text-loading-overlay-1 is-reveal-1 h4-text-mask" id="reveal-1"></div>
            <h4 class="has-text-centered f-4">¿Sabías que hemos realizado proyectos a clientes nacionales e internacionales?</h4>
          </div>
          <div class="d-flex justify-content-center" style="    margin-top: 1rem;">
            <div class="line__mask">
              <div class="line_mask"></div>
            </div>
          </div>
        </div>
        <div class="content--items">
          <ul class="menu--items filters" id="menu--items">
            <li class="link--item current-menu-item"><a href="javascript:void(0);" data-filter="*">Todo</a></li>
            <li class="link--item"><a href="javascript:void(0);" data-filter="city">Desarrollo Web</a></li>
            <li class="link--item"><a href="javascript:void(0);" data-filter="diseño">Diseño Gráfico </a></li>
            <li class="link--item"><a href="javascript:void(0);" data-filter="city">Marketing</a></li>
            <li class="link--item"><a href="javascript:ºvoid(0);" data-filter="cats">Fotografía</a></li>
            <li class="link--item"><a href="javascript:void(0);" data-filter="cats">Soporte</a></li>
            <div class="wee"></div>
          </ul>
        </div>
      </div>
    </div>
    <div class="container m-t-30">
      <div class="row">
        <div class="col-md-12 d-flex flex-column justify-content-center">
          <div class="isotope grid" id="container">
            <div class="grid__item grid-item" data-filter="city">
              <div class="product">
                <div class="product__bg"></div><img class="product__img" <img="" src="{{ asset('img/ek.jpg')}}" alt="img 01"/>
                <h2 class="product__title">Entrekids</h2>
                <h3 class="product__subtitle">Desarrollo Web / Diseño UI/UX</h3>
                <p class="product__description">Entrekids dispone de diversas actividades con niños y panoramas para la familia en más de 10 categorías distintas donde podrás reservar y pagar. Además encontrarás una completa guía de plazas y parques con juegos para niños para que todos puedan descubrir y disfrutar en familia diferentes rincones de la ciudad</p>
                <div class="product__price"> </div>
                <div class="product__url">https://www.entrekids.cl</div>
              </div>
            </div>
            <div class="grid__item grid-item" data-filter="city">
              <div class="product">
                <div class="product__bg"></div><img class="product__img" <img="" src="{{ asset('img/va.jpg') }}" alt="img 01"/>
                <h2 class="product__title">VA Asesorias</h2>
                <h3 class="product__subtitle">Sitio Web Informativo</h3>
                <p class="product__description">Valdevellano Asesorías tiene como misión brindar seguridad y metodologías de prevención de riesgos a nuestros colaboradores con el fin de desarrollar sus labores en un ambiente de trabajo adecuado</p>
                <div class="product__price"></div>
                <div class="product__url">https://www.vasesorias.cl</div>
              </div>
            </div>
            <div class="grid__item grid-item" data-filter="city">
              <div class="product">
                <div class="product__bg"></div><img class="product__img" <img="" src="{{ asset('img/si.jpg') }}" alt="img 01"/>
                <h2 class="product__title">Servicios Innovalec</h2>
                <h3 class="product__subtitle">Web de Servicios Industriales</h3>
                <p class="product__description">Servicios Integrales INNOVALEC, liderado por un equipo joven dispuesto a innovar en la prestación de servicio de Obras Civiles Menores, montaje de estructuras metálicas, elaboración y ejecución de proyectos eléctricos</p>
                <div class="product__price"></div>
                <div class="product__url">http://serviciosinnovalec.cl</div>
              </div>
            </div>
            <div class="grid__item grid-item" data-filter="city">
              <div class="product">
                <div class="product__bg"></div><img class="product__img" <img="" src="{{ asset('img/vat.jpg') }}" alt="img 01"/>
                <h2 class="product__title">Tienda VA Asesorias</h2>
                <h3 class="product__subtitle">Tienda Online</h3>
                <p class="product__description">Valdevellano Asesorías tiene como misión brindar seguridad y metodologías de prevención de riesgos a nuestros colaboradores con el fin de desarrollar sus labores en un ambiente de trabajo adecuado</p>
                <div class="product__price"></div>
                <div class="product__url">https://www.vasesorias.cl/tienda</div>
              </div>
            </div>
            <div class="grid__item grid-item" data-filter="city">
              <div class="product">
                <div class="product__bg"></div><img class="product__img" <img="" src="{{ asset('img/fvf.jpg') }}" alt="img 01"/>
                <h2 class="product__title">FVF Milling</h2>
                <h3 class="product__subtitle">Empresa de Mastranzas</h3>
                <p class="product__description">Valdevellano Asesorías tiene como misión brindar seguridad y metodologías de prevención de riesgos a nuestros colaboradores con el fin de desarrollar sus labores en un ambiente de trabajo adecuado</p>
                <div class="product__price"></div>
                <div class="product__url">https://www.vasesorias.cl/tienda</div>
              </div>
            </div>
            <div class="grid__item grid-item" data-filter="diseño">
              <div class="product">
                <div class="product__bg"></div><img class="product__img" <img="" src="{{ asset('img/airliquide.jpg') }}" alt="img 01"/>
                <h2 class="product__title">Air Liquide Chile</h2>
                <h3 class="product__subtitle">PLATAFORMA DE CAPACITACIÓN <br> (SISTEMA EN INTRANET)</h3>
                <p class="product__description">Sistema de capacitación y evaluación de personal para Air Liquide Chile</p>
                <div class="product__price"></div>
                <div class="product__url"> </div>
              </div>
            </div>
            <div class="grid__item grid-item" data-filter="diseño">
              <div class="product">
                <div class="product__bg"></div><img class="product__img" <img="" src="{{ asset('img/cajitas.jpg') }}" alt="img 01"/>
                <h2 class="product__title">Cajitas.cl</h2>
                <h3 class="product__subtitle">TIENDA DE CAJITAS Y REGALOS</h3>
                <p class="product__description">En Cajitas.cl encuentras una gran variedad de cajas de cartón, bolsas de regalo y muchos articulos más en diversos tamaños, colores y diseños</p>
                <div class="product__price"></div>
                <div class="product__url">https://cajitas.cl/</div>
              </div>
            </div>
          </div>
          <!--
          .grid-item(data-filter='city').clickme
          img(src='http://lorempixel.com/250/250/city/1')
          .grid-item(data-filter='city')
          img(src='http://lorempixel.com/250/250/city/2')
          .grid-item(data-filter='city')
          img(src='http://lorempixel.com/250/250/city/3')
          .grid-item(data-filter='city')
          img(src='http://lorempixel.com/450/250/city/4')
          .grid-item(data-filter='city')
          img(src='http://lorempixel.com/250/250/city/5')
          .grid-item(data-filter='city')
          img(src='http://lorempixel.com/250/250/city/6')
          .grid-item(data-filter='city')
          img(src='http://lorempixel.com/250/250/city/7')
          .grid-item(data-filter='city')
          img(src='http://lorempixel.com/250/250/city/8')
          .grid-item(data-filter='cats')
          img(src='http://lorempixel.com/250/250/cats/1')
          .grid-item(data-filter='cats')
          img(src='http://lorempixel.com/250/250/cats/2')
          .grid-item(data-filter='cats')
          img(src='http://lorempixel.com/250/250/cats/3')
          .grid-item(data-filter='cats')
          img(src='http://lorempixel.com/250/250/cats/4')
          .grid-item(data-filter='cats')
          img(src='http://lorempixel.com/250/250/cats/5')
          .grid-item(data-filter='cats')
          img(src='http://lorempixel.com/250/250/cats/6')
          .grid-item(data-filter='cats')
          img(src='http://lorempixel.com/250/250/cats/7')


          -->
        </div>
      </div>
    </div>
  </section>
  <section class="blog blog_section wow init_transition">
      <div class="col-md-12 d-flex justify-content-center flex-column align-items-center">
        <div class="text-loading-mask">
          <div class="text-loading-overlay is-reveal h2-text-mask" id="reveal"></div>
          <div class="text-loading-overlay-1 is-reveal-1 h2-text-mask" id="reveal-1"></div>
          <h2 class="main-title has-text-centered" itemprop="author">Nuestros Blog</h2>
        </div>
        <div class="d-flex" style="   margin-bottom: 1.25rem;"></div>
        <div class="text-loading-mask">
          <div class="text-loading-overlay is-reveal h4-text-mask" id="reveal"></div>
          <div class="text-loading-overlay-1 is-reveal-1 h4-text-mask" id="reveal-1"></div>
          <h4 class="has-text-centered f-4">Noticias de la actualidad</h4>
        </div>
        <div class="d-flex justify-content-center" style="    margin-top: 1rem;">
          <div class="line__mask">
            <div class="line_mask"></div>
          </div>
        </div>
      </div>

      <div class="blog-content">

            <div class="container">
              <div class="slider1 row">
                  {% for post in posts %}
                    <article class="card card--1">
                      <div class="card__info-hover">
                        <svg class="card__like"  viewBox="0 0 24 24">
                        <path fill="#000000" d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z" />
                      </svg>
                          <div class="card__clock-info">
                            <svg class="card__clock"  viewBox="0 0 24 24"><path d="M12,20A7,7 0 0,1 5,13A7,7 0 0,1 12,6A7,7 0 0,1 19,13A7,7 0 0,1 12,20M19.03,7.39L20.45,5.97C20,5.46 19.55,5 19.04,4.56L17.62,6C16.07,4.74 14.12,4 12,4A9,9 0 0,0 3,13A9,9 0 0,0 12,22C17,22 21,17.97 21,13C21,10.88 20.26,8.93 19.03,7.39M11,14H13V8H11M15,1H9V3H15V1Z" />
                            </svg><span class="card__time">{{ post.createdAt | date("d-m-Y H:i:s") }}</span>
                            {# post.createdAt | date("M dS Y") #}

                          </div>

                      </div>
                      <div class="card__img"  style="background-image: url('https://images.pexels.com/photos/45202/brownie-dessert-cake-sweet-45202.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');"></div>
                      <a href="{{ path('post_show', {slug: post.slug}) }}" class="card_link">
                         <div class="card__img--hover"  style="background-image: url('https://images.pexels.com/photos/45202/brownie-dessert-cake-sweet-45202.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');"></div>
                       </a>
                      <div class="card__info">
                        <span class="card__category">{{ post.category.name }}</span>
                        <h3 class="card__title"><a href="{{ path('post_show', {slug: post.slug}) }}" title="{{ post.name }}">{{ post.name }}</a></h3>
                         {# post.content | markdown | excerpt(20) #}
                        <span class="card__by">by <a style="color: #969696;" href="{{ path('post_author', {id: post.user.id}) }}">{{ post.user.username }}</a></span>
                      </div>
                      </article>
                  {% endfor %}
              </div>
           </div>







      </div>
  </section>
  <section class="newsletter wow init_transitions" style="background-position: center -148px;position: relative;background-repeat: no-repeat;">
    <div class="container" style="word-break: break-all;">
      <div class="row">
        <div class="col-md-12 m-b-25">
          <h2 class="main-title has-text-centered">Subscribete a nuestro boletín</h2>
          <h4 class="has-text-centered f-4">Queremos mantenerte informado de todo lo que lo que tenemos y hacemos...</h4>
          <div class="d-flex justify-content-center">
            <div class="line"></div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="content-centere">
            <h2>sólo déjanos tu correo acá</h2>
            <div class="wrapper-input">
              <input type="text" name="" value="" placeholder="Si, escribe tu correo acá y dale al botón"/>
              <button class="btn-pd" type="submit">¡A ESTE BOTÓN!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--section(style="padding: 25px;background: #202020;")-->
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
    </svg>
  </div>
  <footer id="contacto">
    <canvas id="canvas"></canvas>
    <!--img(src="img/Footer-PuntoData.png", alt="", style="    position: absolute;top: -140px;width:100%")-->
    <!--svg(viewBox='0 0 120 28')
    defs
      filter#goo
        fegaussianblur(in='SourceGraphic', stdDeviation='1', result='blur')
        fecolormatrix(in='blur', mode='matrix', values='\
        1 0 0 0 0  \
        0 1 0 0 0  \
        0 0 1 0 0  \
        0 0 0 13 -9', result='goo')
        xfeblend(in='SourceGraphic', in2='goo')
      path#wave(d='M 0,10 C 30,10 30,15 60,15 90,15 90,10 120,10 150,10 150,15 180,15 210,15 210,10 240,10 v 28 h -240 z')
    use#wave3.wave(xlink:href='#wave', x='0', y='-2')
    use#wave2.wave(xlink:href='#wave', x='0', y='0')
    //g.gooeff(filter='url(#goo)')
      circle.drop.drop1(cx='20', cy='2', r='8.8')
      circle.drop.drop2(cx='25', cy='2.5', r='7.5')
      circle.drop.drop3(cx='16', cy='2.8', r='9.2')
      circle.drop.drop4(cx='18', cy='2', r='8.8')
      circle.drop.drop5(cx='22', cy='2.5', r='7.5')
      circle.drop.drop6(cx='26', cy='2.8', r='9.2')
      circle.drop.drop1(cx='5', cy='4.4', r='8.8')
      circle.drop.drop2(cx='5', cy='4.1', r='7.5')
      circle.drop.drop3(cx='8', cy='3.8', r='9.2')
      circle.drop.drop4(cx='3', cy='4.4', r='8.8')
      circle.drop.drop5(cx='7', cy='4.1', r='7.5')
      circle.drop.drop6(cx='10', cy='4.3', r='9.2')
      circle.drop.drop1(cx='1.2', cy='5.4', r='8.8')
      circle.drop.drop2(cx='5.2', cy='5.1', r='7.5')
      circle.drop.drop3(cx='10.2', cy='5.3', r='9.2')
      circle.drop.drop4(cx='3.2', cy='5.4', r='8.8')
      circle.drop.drop5(cx='14.2', cy='5.1', r='7.5')
      circle.drop.drop6(cx='17.2', cy='4.8', r='9.2')
      use#wave1.wave(xlink:href='#wave', x='0', y='1')
    //
      g mask="url(#xxx)">
      <path   id="wave1"  class="wave" d="M 0,10 C 30,10 30,15 60,15 90,15 90,10 120,10 150,10 150,15 180,15 210,15 210,10 240,10 v 28 h -240 z" />
      </g>
      </g
    -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="d-flex align-items-center m-b-25 flex-column-max"><img class="puntodataSVG" src="{{ asset('img/Logo Nuevo Punto Data.svg') }}" alt=""/>
              <h2 class="puntodatatext">Punto <span class="m-l-5-max">Data</span>, SpA</h2>
            </div>
            <p class="text--content text-left m-b-25">Agencia digital, Un equipo internacional especializado en web, branding, diseño y social media. Queremos saber mas de tu proyecto! Y si necesitas algún producto que no etá en nuestro sitio web, te ayudamos a obtenerlo. Envíanos un correo o pase por nuestra oficina a tomar un café</p>
            <h2 class="puntodatatext m-l-none t-l">Sígannos <span>los buenos</span></h2>
            <div class="d-flex m-t-15 icons-footer"><i class="ion ion-logo-facebook"></i><i class="ion ion-logo-instagram"></i><i class="ion ion-logo-twitter"></i></div>
          </div>
          <div class="col-md-2">
            <div class="m-b-25">
              <div class="item-menu-footer">Menú</div>
            </div>
            <ul class="footer-nav">
              <li class="active-li"><a class="smooth" href="#inicio"> Inicio</a></li>
              <li> <a class="smooth" href="#team">Quíenes Sómos</a></li>
              <li> <a class="smooth" href="#team">Nuestro Equipo</a></li>
              <li> <a class="smooth" href="#galery">Portafolio</a></li>
              <li> <a class="smooth" href="#servicio">Servicios</a></li>
              <li> <a class="smooth" href="#">Blog y Noticias</a></li>
              <li> <a class="smooth" href="#">Contacto</a></li>
            </ul>
          </div>
          <div class="col-md-3 m-t-30-max">
            <div class="m-b-25">
              <h2 class="f-20 puntodatatext m-b-10 t-r">¿Teléfonos? <span>Acá están</span></h2>
              <h4 class="f-5 text-whi m-b-5" style="text-align:right">+56 9 5996 3451</h4>
              <h4 class="f-5 text-whi m-b-5" style="text-align:right">+56 9 4654 8027</h4>
              <h4 class="f-5 text-whi m-b-5" style="text-align:right">+56 9 4485 0500</h4>
            </div>
            <div class="m-b-25">
              <h2 class="f-20 puntodatatext m-b-10 t-r">¿Correo? <span>También</span></h2>
              <h4 class="f-5 text-whi m-b-5" style="text-align:right">ventas@puntodata.cl</h4>
            </div>
            <div>
              <h2 class="f-20 puntodatatext m-b-10 t-r">Nuestra <span>Dirección</span></h2>
              <h4 class="f-5 text-whi m-b-5" style="text-align:right">Av.Irarrazaval 5083</h4>
              <h4 class="f-5 text-whi m-b-5" style="text-align:right">OF. 503, Nuñoa</h4>
            </div>
          </div>
          <div class="col-md-4 m-t-30-max">
            <h2 class="puntodatatext m-l-none text-center" style=" line-height: .7;">¿Quieres dejarnos <span>algún mensaje?</span></h2>
            <form class="m-t-40" action="index.html" method="post">
              <div class="group-inputs">
                <input type="text" name="" value="" placeholder="Nombre"/>
              </div>
              <div class="group-inputs">
                <input type="text" name="" value="" placeholder="Apellido"/>
              </div>
              <div class="group-inputs">
                <textarea name="name" placeholder="Tu Mensaje"></textarea>
              </div>
            </form>
            <div class="d-flex justify-content-end">
              <button class="btn-footer" type="button" name="button">Enviar  </button>
            </div>
          </div>
        </div>
      </div>
      <div class="sub-footer">
        <div class="container">
          <div class="d-flex justify-content-center align-items-center"><img class="m-r-15" src="{{ asset('img/Logo Nuevo Punto Data.svg') }}" alt=""/>
            <h4>Diseñado y Desarrollado por <span class="smooth-puntodata">Punto <span style="color:#fff">Data</span> Chile, <span style="color:#fff"> SpA</span></span> Todos los derechos reservados, 2019.</h4>
          </div>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script type="text/javascript">
      $('.slider1').slick({
      slidesToShow:4,
      slidesToScroll:4,
      dots:true,
       arrows : false,
      cssEase: 'ease-out',

      centerPadding: '0',
    });
    // @param - timeStamp - Javascript Date object or date string
// @usage - timeSince(new Date().setFullYear(2019))
function timeSince(timeStamp) {
    if (!(timeStamp instanceof Date)) {
      timeStamp = new Date(timeStamp);
    }

    if (isNaN(timeStamp.getDate())) {
      return "Invalid date";
    }

    var now = new Date(),
      secondsPast = (now.getTime() - timeStamp.getTime()) / 1000;

    var formatDate = function(date, format, utc) {
      var MMMM = ["\x00", "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Deciembre"];
      var MMM = ["\x01", "Ene", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
      var dddd = ["\x02", "Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"];
      var ddd = ["\x03", "Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"];

      function ii(i, len) {
        var s = i + "";
        len = len || 2;
        while (s.length < len) s = "0" + s;
        return s;
      }

      var y = utc ? date.getUTCFullYear() : date.getFullYear();
      format = format.replace(/(^|[^\\])yyyy+/g, "$1" + y);
      format = format.replace(/(^|[^\\])yy/g, "$1" + y.toString().substr(2, 2));
      format = format.replace(/(^|[^\\])y/g, "$1" + y);

      var M = (utc ? date.getUTCMonth() : date.getMonth()) + 1;
      format = format.replace(/(^|[^\\])MMMM+/g, "$1" + MMMM[0]);
      format = format.replace(/(^|[^\\])MMM/g, "$1" + MMM[0]);
      format = format.replace(/(^|[^\\])MM/g, "$1" + ii(M));
      format = format.replace(/(^|[^\\])M/g, "$1" + M);

      var d = utc ? date.getUTCDate() : date.getDate();
      format = format.replace(/(^|[^\\])dddd+/g, "$1" + dddd[0]);
      format = format.replace(/(^|[^\\])ddd/g, "$1" + ddd[0]);
      format = format.replace(/(^|[^\\])dd/g, "$1" + ii(d));
      format = format.replace(/(^|[^\\])d/g, "$1" + d);

      var H = utc ? date.getUTCHours() : date.getHours();
      format = format.replace(/(^|[^\\])HH+/g, "$1" + ii(H));
      format = format.replace(/(^|[^\\])H/g, "$1" + H);

      var h = H > 12 ? H - 12 : H == 0 ? 12 : H;
      format = format.replace(/(^|[^\\])hh+/g, "$1" + ii(h));
      format = format.replace(/(^|[^\\])h/g, "$1" + h);

      var m = utc ? date.getUTCMinutes() : date.getMinutes();
      format = format.replace(/(^|[^\\])mm+/g, "$1" + ii(m));
      format = format.replace(/(^|[^\\])m/g, "$1" + m);

      var s = utc ? date.getUTCSeconds() : date.getSeconds();
      format = format.replace(/(^|[^\\])ss+/g, "$1" + ii(s));
      format = format.replace(/(^|[^\\])s/g, "$1" + s);

      var f = utc ? date.getUTCMilliseconds() : date.getMilliseconds();
      format = format.replace(/(^|[^\\])fff+/g, "$1" + ii(f, 3));
      f = Math.round(f / 10);
      format = format.replace(/(^|[^\\])ff/g, "$1" + ii(f));
      f = Math.round(f / 10);
      format = format.replace(/(^|[^\\])f/g, "$1" + f);

      var T = H < 12 ? "AM" : "PM";
      format = format.replace(/(^|[^\\])TT+/g, "$1" + T);
      format = format.replace(/(^|[^\\])T/g, "$1" + T.charAt(0));

      var t = T.toLowerCase();
      format = format.replace(/(^|[^\\])tt+/g, "$1" + t);
      format = format.replace(/(^|[^\\])t/g, "$1" + t.charAt(0));

      var tz = -date.getTimezoneOffset();
      var K = utc || !tz ? "Z" : tz > 0 ? "+" : "-";
      if (!utc) {
        tz = Math.abs(tz);
        var tzHrs = Math.floor(tz / 60);
        var tzMin = tz % 60;
        K += ii(tzHrs) + ":" + ii(tzMin);
      }
      format = format.replace(/(^|[^\\])K/g, "$1" + K);

      var day = (utc ? date.getUTCDay() : date.getDay()) + 1;
      format = format.replace(new RegExp(dddd[0], "g"), dddd[day]);
      format = format.replace(new RegExp(ddd[0], "g"), ddd[day]);

      format = format.replace(new RegExp(MMMM[0], "g"), MMMM[M]);
      format = format.replace(new RegExp(MMM[0], "g"), MMM[M]);

      format = format.replace(/\\(.)/g, "$1");

      return format;
    };

    if(secondsPast < 0){ // Future date
      return timeStamp;
    }
    if(secondsPast < 60){ // Less than a minute
      return parseInt(secondsPast) + ' secs';
    }
    if(secondsPast < 3600){ // Less than an hour
      return parseInt(secondsPast/60) + ' mins';
    }
    if(secondsPast <= 86400){ // Less than a day
      return parseInt(secondsPast/3600) + ' hrs';
    }
    if(secondsPast <= 172800){ // Less than 2 days
      return 'Ayer a las ' + formatDate(timeStamp, "h:mmtt");
    }
    if(secondsPast > 172800){ // After two days
      var timeString;

      if(secondsPast <= 604800)
        timeString = formatDate(timeStamp, "dddd") + " a las " + formatDate(timeStamp, "h:mmtt") // with in a week
      else if(now.getFullYear() > timeStamp.getFullYear())
        timeString = formatDate(timeStamp, "MMMM d, yyyy") // a year ago
      else if(now.getMonth() > timeStamp.getMonth())
        timeString = formatDate(timeStamp, "MMMM d") // months ago
      else
        timeString = formatDate(timeStamp, "MMMM d") + " a las " + formatDate(timeStamp, "h:mmtt") // with in a month

      return timeString;
    }
  }
  $('.card__time').each(function(){
    var time =  $(this).text()
    var myDate= time;
    myDate=myDate.split("-");
    var newDate=myDate[1]+","+myDate[0]+","+myDate[2];

      $(this).text(timeSince(new Date(newDate).getTime()))
  })

  </script>
{% endblock %}
